@import "../Style/Mixins";

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Semibold.eot");
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"),
    url("./fonts/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-Semibold.woff2") format("woff2"),
    url("./fonts/Gilroy-Semibold.woff") format("woff"),
    url("./fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"),
    url("./fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-Bold.woff2") format("woff2"),
    url("./fonts/Gilroy-Bold.woff") format("woff"),
    url("./fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("./fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-Regular.woff2") format("woff2"),
    url("./fonts/Gilroy-Regular.woff") format("woff"),
    url("./fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Extrabold.eot");
  src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"),
    url("./fonts/Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-Extrabold.woff2") format("woff2"),
    url("./fonts/Gilroy-Extrabold.woff") format("woff"),
    url("./fonts/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"),
    url("./fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-Light.woff2") format("woff2"),
    url("./fonts/Gilroy-Light.woff") format("woff"),
    url("./fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("./fonts/Circe-Regular.eot");
  src: local("Circe"), local("Circe-Regular"),
    url("./fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Circe-Regular.woff") format("woff"),
    url("./fonts/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("./fonts/Circe-Bold.eot");
  src: local("Circe Bold"), local("Circe-Bold"),
    url("./fonts/Circe-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Circe-Bold.woff") format("woff"),
    url("./fonts/Circe-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
button {
  border: none;
}
a {
  text-decoration: none;
  color: #282828;
  &:hover {
    color: #388af3;
  }
}
body {
  font-family: "Gilroy", sans-serif;
  background: #ffffff;
  color: #000000;
  height: 100%;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  max-width: 100%;
}

.block {
  @include fluid(margin-top, 100px, 132px);
  @include fluid(margin-bottom, 100px, 162px);
  max-width: 1200px;
  min-height: 55vh;
  margin: 0 auto;
}

@media screen and (max-width: 1220px) {
  .block {
    padding-left: 40px;
  }
}
@media screen and (max-width: 800px) {
  .block {
    padding-right: 40px;
  }
}
